<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 用户信息接口 -->
<mapper namespace="com.lgfei.code.generator.core.mapper.GenerateLogMapper">
	
	<resultMap type="com.lgfei.code.generator.model.entity.GenerateLog" id="GenerateLogMap"></resultMap>
	
</mapper>