<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Code Generator</title>
<link rel="stylesheet" href="http://lgfei.com/layui/css/layui.css">
<link rel="stylesheet" href="css/formSelects-v4.css">
<link rel="stylesheet" href="css/myStyle.css">
</head>

<body layadmin-themealias="default" class="layui-layout-body">
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md12">
				<div class="layui-logo" lay-href="" style="background-color: #20222A;">
					<h1 class="site-h1" style="color:white;">Code Generator</h1>
				</div>
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md12">
				<div class="layui-tab" lay-filter="tabMain">
					<ul class="layui-tab-title">
						<li class="layui-this" lay-id="1"><i class="layui-icon layui-icon-home"></i></li>
						<li lay-id="2">数据源管理</li>
						<li lay-id="3">用户管理</li>
						<li lay-id="4">模块管理</li>
						<li lay-id="5">操作按钮管理</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show" id="tabContent1">
							<span>首页</span>
						</div>
						<div class="layui-tab-item" id="tabContent2">
							
						</div>
						<div class="layui-tab-item" id="tabContent3">
							
						</div>
						<div class="layui-tab-item" id="tabContent4">
                            
                        </div>
                        <div class="layui-tab-item" id="tabContent5">
                            
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-layer-move"></div>
</body>

<script src="http://lgfei.com/layui/layui.js"></script>
<script src="js/lib/formSelects-v4.min.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>

<script type="text/javascript">
var AppSetting = AppSetting || {};
(function (AppSetting) { 
    AppSetting.rootUrl = '[[${rootUrl}]]';
 })(AppSetting);
 
function resizeHeight(){
	var frames = document.getElementsByTagName('iframe');
	for(var i = 0; i < frames.length; i++){
		var iframe = frames[i];
	    var div = iframe.parentNode;
	    try{
	        var bHeight = iframe.contentWindow.document.body.scrollHeight;
	        var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
	        var height = Math.max(bHeight, dHeight);
	        div.style.height = height + 'px';
	    }catch (ex){
	        console.log(ex);
	    }
	}
}
window.setInterval("resizeHeight()", 500);
</script>

</html>