<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Code Generator</title>
<!-- 引入公共页面 -->
<link rel="import" href="common.htm" id="commonPage"/>
</head>

<body layadmin-themealias="default" class="layui-layout-body">
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md12">
				<div class="layui-logo" lay-href="" style="background-color: #20222A;">
					<h1 class="site-h1" style="color:white;">Code Generator</h1>
				</div>
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md12">
				<div class="layui-tab" lay-filter="tabMain">
					<ul class="layui-tab-title">
						<li class="layui-this" lay-id="1"><i class="layui-icon layui-icon-home"></i></li>
						<li lay-id="2">数据源管理</li>
						<li lay-id="3">用户管理</li>
						<li lay-id="4">模块管理</li>
						<li lay-id="5">操作按钮管理</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show" id="tabContent1">
							<span>首页</span>
						</div>
						<div class="layui-tab-item" id="tabContent2">
							<span class="layui-text">没有该模块权限，<a href="#">申请权限</a></span>
						</div>
						<div class="layui-tab-item" id="tabContent3">
							<span class="layui-text">没有该模块权限，<a href="#">申请权限</a></span>
						</div>
						<div class="layui-tab-item" id="tabContent4">
                            <span class="layui-text">没有该模块权限，<a href="#">申请权限</a></span>
                        </div>
                        <div class="layui-tab-item" id="tabContent5">
                            <span class="layui-text">没有该模块权限，<a href="#">申请权限</a></span>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-layer-move"></div>
</body>

<script type="text/javascript">
function resizeHeight(){
	var frames = document.getElementsByTagName('iframe');
	for(var i = 0; i < frames.length; i++){
		var iframe = frames[i];
	    var div = iframe.parentNode;
	    try{
	        var bHeight = iframe.contentWindow.document.body.scrollHeight;
	        var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
	        var height = Math.max(bHeight, dHeight);
	        div.style.height = height + 'px';
	    }catch (ex){
	        console.log(ex);
	    }
	}
}
window.setInterval("resizeHeight()", 500);

// 页面入口
layui.config({ base:'js/'}).use(['index']);
</script>

</html>