<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<div class="container">
   <br/>
   <div class="row">
      <div class="col-md-4">
      	<div class="panel panel-default">
		  <div class="panel-body">
		    <a href="javascript:createTab('api-code-generator','SpringBoot+Mybatisplus','api-code-generator',1)">api-code-generator</a>
		  </div>
		</div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
                              占位符 占位符 占位符 占位符 占位符 占位符
          </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
                              占位符 占位符 占位符 占位符 占位符 占位符
          </div>
        </div>
	  </div>     
   </div>
</div>
</body>
</html>