<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Module Manager</title>
<link rel="stylesheet" href="http://lgfei.com/layui/css/layui.css">
<link rel="stylesheet" href="../css/formSelects-v4.css">
</head>
<body layadmin-themealias="default" class="layui-layout-body">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-tab" lay-allowClose="true" lay-filter="tabMain">
               <ul class="layui-tab-title">
                   <li lay-id="1">模块列表</li>
               </ul>
               <div class="layui-tab-content">
                   <div class="layui-tab-item layui-show">
                       <table id="tbModule" lay-filter="module"></table>
                   </div>
               </div>
           </div>        
        </div>
    </div>
</body>
<script type="text/html" id="barModule">
    <a class="layui-btn layui-btn-xs" lay-event="btnAdd">新增</a>
</script>

<script src="http://lgfei.com/layui/layui.js"></script>
<script src="../js/lib/formSelects-v4.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/module.view.js"></script>

<script type="text/javascript">
var AppSetting = AppSetting || {};
(function (AppSetting) { 
    AppSetting.rootUrl = '[[${rootUrl}]]';
 })(AppSetting);
</script>

</html>